.header__nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    font-size: 13px;
    line-height: 18px;
    gap: 16px;
}
.header__nav-item:first-child {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__nav-item:first-child {
        display: inline-block;
    }
}
