.about {
    padding-top: 110px;
    padding-bottom: 110px;
}
.about__inner {
    display: flex;
    padding-top: 70px;
    gap: 40px;
}
.about__subtitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    margin: 0;
    padding-bottom: 26px;
}
.about__description {
    line-height: 20px;
    margin: 0;
    padding-bottom: 110px;
}
.about__timeline {
    display: flex;
    color: #a0a0a0;
}
.about__timeline-backend {
    width: 20%;
    text-align: center;
}
.about__timeline-frontend {
    width: 80%;
    text-align: center;
}
.about__timeline-blackbg {
    background: #000;
    color: #fff;
    display: block;
    padding: 9px 0;
    height: 36px;
    box-sizing: border-box;
    margin-bottom: 14px;
}
.about__timeline-graybg {
    background: #f2f2f2;
    color: #000;
    display: block;
    padding: 9px 0;
    height: 36px;
    box-sizing: border-box;
    margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
    .about {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .about__inner {
        gap: 30px;
    }
    .about__subtitle {
        padding-bottom: 22px;
    }
    .about__description {
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 93px;
    }
}

@media screen and (max-width: 600px) {
    .about__inner {
        flex-direction: column;
        padding-top: 60px;
        padding-bottom: 4px;
        gap: 0;
    }
    .about__description {
        padding-bottom: 56px;
    }
    .about__timeline {
        font-size: 12px;
        line-height: 15px;
    }
    .about__timeline-backend {
        width: 100px;
    }
    .about__timeline-frontend {
        width: calc(100vw - 200px);
    }
    .about__timeline-blackbg {
        padding: 11px 0;
        margin-bottom: 10px;
    }
    .about__timeline-graybg {
        padding: 11px 0;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 320px) {
    .about {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .about__subtitle {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 16px;
    }
    .about__description {
        font-size: 11px;
        line-height: 16px;
    }
    .about__timeline {
        font-size: 11px;
        line-height: 13px;
    }
    .about__timeline-frontend {
        width: calc(100vw - 136px);
    }
    .about__timeline-blackbg {
        padding: 11px 0;
        margin-bottom: 10px;
    }
    .about__timeline-graybg {
        padding: 11px 0;
        margin-bottom: 10px;
    }
}
