@import url('../../vendor/fonts.css');
@import url('../../vendor/normalize.css');

.project {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
}
.project__link {
  text-decoration: none;
  color: #000;
  transition: all .3s ease-in-out;
}
.project__link:hover {
  opacity: .7;
}
.project__link_active {
  font-weight: 500;
}
.project__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .project__wrapper {
    padding: 0 50px;
  }
}
