.main__title {
    font-size: 22px;
    font-weight: normal;
    line-height: 27px;
    letter-spacing: -0.04em;
    margin: 0;
    padding-bottom: 23px;
    border-bottom: 1px solid #000;
}
.blue-background {
    background-color: #dff7ff;
}

@media screen and (max-width: 320px) {
    .main__title {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 28px;
    }
}
