.films__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
    justify-items: center;
    gap: 27px 24px;
    padding-top: 80px;
}
.films__message {
    text-align: center;
    margin: 35px 0 0;
    color: #ff3459;
}
.films__more-block {
    min-height: 187px;
}
.films__more-button {
    background: #f4f4f4;
    border: none;
    border-radius: 6px;
    height: 36px;
    cursor: pointer;
    width: 100%;
    transition: all .3s ease-in-out;
    font-size: 12px;
    line-height: 15px;
    margin-top: 77px;
    margin-bottom: 100px;
    padding: 0;
}
.films__more-button:hover {
    opacity: .8;
}

@media screen and (max-width: 892px) {
    .films {
        padding: 0 30px;
    }
    .films__list {
        grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
        gap: 33px 30px;
    }
}

@media screen and (max-width: 402px) {
    .films {
        padding: 0 10px;
    }
    .films__list {
        grid-template-columns: 1fr;
        gap: 13px;
        padding-top: 50px;
    }
}
