.promo {            
    min-height: 560px;
    padding-top: 50px;
    box-sizing: border-box;
    background-image: url('../../../images/promo-background.svg');
    background-position: bottom 60px right 70px;
    background-repeat: no-repeat;
}
.promo__title {
    max-width: 626px;
    line-height: 52px;
    font-size: 40px;
    font-weight: normal;
    margin: 0;
}