.search__form {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding-top: 78px;
    padding-bottom: 26px;                
}
.search__input {
    height: 50px;
    padding: 16px 20px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 8px;
    max-width: 1086px;
    width: calc(100vw - 194px);
}
.search__button {
    color: #fff;
    border: none;
    width: 44px;
    height: 44px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    background: url('../../../images/find-button.svg');
    padding: 0;
}
.search__button:hover {
    opacity: .8;
}

@media screen and (max-width: 892px) {
    .search {
        padding: 0 30px;
    }
    .search__form {
        padding-bottom: 40px; 
    }
    .search__input {
        width: calc(100vw - 114px);
    }
}

@media screen and (max-width: 402px) {
    .search {
        padding: 0 14px;
    }
    .search__form {
        padding-bottom: 46px; 
    }
    .search__input {
        height: 44px;
        padding: 13px;
        width: calc(100vw - 82px);
    }
}
