.student {
    padding-top: 110px;
    padding-bottom: 100px;
    box-sizing: border-box;
}
.student__info {
    display: flex;
    justify-content: space-between;
    padding-top: 66px;
}
.student__name {
    font-size: 50px;
    font-weight: normal;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 0;
    padding-bottom: 18px;
}
.student__about {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding-bottom: 26px;
}
.student__description {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    max-width: 600px;
    padding-bottom: 77px;
}
.student__links {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}
.student__link {
    font-weight: 500;
}
.student__photo-card {
    width: 270px;
}

@media screen and (max-width: 768px) {
    .student {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .student__name {
        font-size: 40px;
        line-height: 40px;     
        padding-bottom: 16px;
    }
    .student__about {
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 20px;
    }
    .student__description {
        max-width: calc(100vw - 404px);
        font-size: 12px;
        line-height: 18px;
        padding-bottom: 87px;
    }    
    .student__photo-card {
        width: 255px;
    }
}

@media screen and (max-width: 600px) {
    .student__info {
        flex-direction: column;
        padding-top: 60px;
    }
    .student__left-block {
        order: 1;
    }
    .student__photo {
        text-align: center;
    }
    .student__name {
        padding-top: 40px;
        text-align: center;
    }
    .student__about {
        text-align: center;
    }
    .student__description {
        max-width: 100%;
    }
}

@media screen and (max-width: 380px) {
    .student {
        padding: 70px 14px 69px;
    }
    .student__name {
        font-size: 30px;
        line-height: 36px;
        padding-bottom: 20px;
        text-align: left;
    }
    .student__about {
        font-size: 11px;
        line-height: 16px;
        text-align: left;
    }
    .student__description {
        font-size: 11px;
        line-height: 16px;
        padding-bottom: 40px;
    }
    .student__photo-card {
        width: 80%;
    }
    .student__links {
        gap: 26px;
    }
}

@media screen and (max-width: 320px) {
    .student__photo-card {
        width: 100%;
    }
}
