.search__setting {
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    padding-bottom: 40px;
}
.search__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.search__checkbox-label::before {
    content: '';
    width: 36px;
    height: 20px;
    display: block;
    background: url('../../../../images/smalltumboff.svg');
}
.search__checkbox:checked::after {
    background: url('../../../../images/smalltumb.svg');
}
